In [ ]:
!pip install openai langchain

Collecting openai
  Downloading openai-0.27.8-py3-none-any.whl (73 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.6/73.6 kB 3.7 MB/s eta 0:00:00
Collecting langchain
  Downloading langchain-0.0.226-py3-none-any.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 28.2 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.4)
Requirement already satisfied: PyYAML>=5.4.1 in /usr/local/lib/python3.10/dist-packages (from langchain) (6.0)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.0.16)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (4.0.2)
Collecting dataclasses-json<0.6.0,>=0.5.7 (from langchain)
  Downloading dataclasses_json-0.5.9-py3-none-any.whl (26 kB)
Collecting langchainplus-sdk<0.0.21,>=0.0.20 (from langchain)
  Downloading langchainplus_sdk-0.0.20-py3-none-any.whl (25 kB)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.8.4)
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.22.4)
Collecting openapi-schema-pydantic<2.0,>=1.2 (from langchain)
  Downloading openapi_schema_pydantic-1.2.4-py3-none-any.whl (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.0/90.0 kB 9.0 MB/s eta 0:00:00
Requirement already satisfied: pydantic<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.10.9)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (8.2.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (2.0.12)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)
Collecting marshmallow<4.0.0,>=3.3.0 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading marshmallow-3.19.0-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.1/49.1 kB 5.7 MB/s eta 0:00:00
Collecting marshmallow-enum<2.0.0,>=1.5.1 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading marshmallow_enum-1.5.1-py2.py3-none-any.whl (4.2 kB)
Collecting typing-inspect>=0.4.0 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1->langchain) (4.6.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2023.5.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy<3,>=1.4->langchain) (2.0.2)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.10/dist-packages (from marshmallow<4.0.0,>=3.3.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (23.1)
Collecting mypy-extensions>=0.3.0 (from typing-inspect>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)

# Setup Chinook Database

In [ ]:
!wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

--2023-06-16 08:09:23--  https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
Resolving www.sqlitetutorial.net (www.sqlitetutorial.net)... 151.139.128.10
Connecting to www.sqlitetutorial.net (www.sqlitetutorial.net)|151.139.128.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 305596 (298K) [application/zip]
Saving to: ‘chinook.zip’

chinook.zip         100%[===================>] 298.43K  --.-KB/s    in 0.02s

2023-06-16 08:09:23 (18.0 MB/s) - ‘chinook.zip’ saved [305596/305596]

In [ ]:
!unzip chinook.zip

Archive:  chinook.zip
  inflating: chinook.db

# OpenAI Function Calling

In [ ]:
import json
import openai
import sqlite3
openai.api_key = "YOUR_API_KEY"

conn = sqlite3.connect("chinook.db")
print("Opened database successfully")
GPT_MODEL = "gpt-3.5-turbo-0613"

Opened database successfully

### Getting Table Meta

In [ ]:
def get_table_names(conn):
    """Return a list of table names."""
    table_names = []
    tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    for table in tables.fetchall():
        table_names.append(table[0])
    return table_names


def get_column_names(conn, table_name):
    """Return a list of column names."""
    column_names = []
    columns = conn.execute(f"PRAGMA table_info('{table_name}');").fetchall()
    for col in columns:
        column_names.append(col[1])
    return column_names


def get_database_info(conn):
    """Return a list of dicts containing the table name and columns for each table in the database."""
    table_dicts = []
    for table_name in get_table_names(conn):
        columns_names = get_column_names(conn, table_name)
        table_dicts.append({"table_name": table_name, "column_names": columns_names})
    return table_dicts

In [ ]:
database_schema_dict = get_database_info(conn)
database_schema_string = "\n".join(
    [
        f"Table: {table['table_name']}\nColumns: {', '.join(table['column_names'])}"
        for table in database_schema_dict
    ]
)

### Creating Funciton Descriptions

In [ ]:
functions = [
    {
        "name": "ask_database",
        "description": "Use this function to answer user questions about music. Output should be a fully formed SQL query.",
        "parameters": {
            "type": "object",
            "properties": {
                "query": {
                    "type": "string",
                    "description": f"""
                            SQL query extracting info to answer the user's question.
                            SQL should be written using this database schema:
                            {database_schema_string}
                            The query should be returned in plain text, not in JSON.
                            Do not use new lines chatacthers inside the query.
                            """,
                }
            },
            "required": ["query"],
        },
    }
]

## Executing SQL queries

In [ ]:
def ask_database(conn, query):
    """Function to query SQLite database with a provided SQL query."""
    try:
        results = str(conn.execute(query).fetchall())
    except Exception as e:
        results = f"query failed with error: {e}"
    return results

def execute_function_call(message):
    if message["function_call"]["name"] == "ask_database":
        query = eval(message["function_call"]["arguments"])["query"]
        results = ask_database(conn, query)
    else:
        results = f"Error: function {message['function_call']['name']} does not exist"
    return results

## Function Calling SQL Chain Implementation
This is leterally all it takes to make a "SQLDatabaseChain" from Lanchain with function calling

In [ ]:
def openai_functions_chain(query):
  messages = []
  messages.append({"role": "system", "content": "Answer user questions by generating SQL queries against the Chinook Music Database."})
  messages.append({"role": "user", "content": query})
  while True:
    assistant_message = openai.ChatCompletion.create(
        temperature=0,
        model=GPT_MODEL,
        messages=messages,
        functions=functions,
        function_call="auto",
    )["choices"][0]["message"]
    messages.append(assistant_message)

    if assistant_message.get("function_call"):
      print("Executing function: ", assistant_message["function_call"])
      results = execute_function_call(assistant_message)
      messages.append({"role": "function", "name": assistant_message["function_call"]["name"], "content": results})
    else:
      break

  return assistant_message['content']

# Langchain Implementation

In [ ]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.chat_models import ChatOpenAI
from langchain.agents import AgentExecutor
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from langchain.agents import AgentType
from langchain import SQLDatabaseChain

In [ ]:
db = SQLDatabase.from_uri("sqlite:///chinook.db")
llm = ChatOpenAI(temperature=0, openai_api_key=openai.api_key)
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, top_k=3)

# Langchain vs Function Calling

### **Query:** Identify the most popular genre among customers based on the number of tracks sold in that genre. (Easy)
Both were able to answer.

In [ ]:
query = "Identify the most popular genre among customers based on the number of tracks sold in that genre."

In [ ]:
print("Response: ", db_chain.run(query))

> Entering new  chain...
Identify the most popular genre among customers based on the number of tracks sold in that genre.
SQLQuery:SELECT genres.Name, SUM(invoice_items.Quantity) AS total_sold
FROM genres
JOIN tracks ON genres.GenreId = tracks.GenreId
JOIN invoice_items ON tracks.TrackId = invoice_items.TrackId
GROUP BY genres.Name
ORDER BY total_sold DESC
LIMIT 1
SQLResult: [('Rock', 835)]
Answer:The most popular genre among customers based on the number of tracks sold in that genre is Rock, with a total of 835 tracks sold.
> Finished chain.
Response:  The most popular genre among customers based on the number of tracks sold in that genre is Rock, with a total of 835 tracks sold.

In [ ]:
print("Response: ", openai_functions_chain(query))

Executing function:  {
  "name": "ask_database",
  "arguments": "{\n  \"query\": \"SELECT g.Name AS Genre, COUNT(*) AS TracksSold FROM genres g JOIN tracks t ON g.GenreId = t.GenreId JOIN invoice_items ii ON t.TrackId = ii.TrackId GROUP BY g.GenreId ORDER BY TracksSold DESC LIMIT 1;\"\n}"
}
Response:  The most popular genre among customers based on the number of tracks sold is Rock, with a total of 835 tracks sold.

### **Query:** Find the customer who has spent the most in each genre and display their total spending for each genre. (Medium)
Langchain implemetation tells you to look at the query instead of providing clear interpretation of the result.

In [ ]:
query = "Find the customer who has spent the most in each genre and display their total spending for each genre."

In [ ]:
print("Response: ", db_chain.run(query))

> Entering new  chain...
Find the customer who has spent the most in each genre and display their total spending for each genre.
SQLQuery:SELECT g.Name AS Genre, c.FirstName || ' ' || c.LastName AS Customer, SUM(i.Total) AS TotalSpent
FROM invoices i
JOIN customers c ON i.CustomerId = c.CustomerId
JOIN invoice_items ii ON i.InvoiceId = ii.InvoiceId
JOIN tracks t ON ii.TrackId = t.TrackId
JOIN genres g ON t.GenreId = g.GenreId
GROUP BY g.Name, c.CustomerId
HAVING SUM(i.Total) = (
  SELECT MAX(TotalSpent)
  FROM (
    SELECT g.Name AS Genre, c.FirstName || ' ' || c.LastName AS Customer, SUM(i.Total) AS TotalSpent
    FROM invoices i
    JOIN customers c ON i.CustomerId = c.CustomerId
    JOIN invoice_items ii ON i.InvoiceId = ii.InvoiceId
    JOIN tracks t ON ii.TrackId = t.TrackId
    JOIN genres g ON t.GenreId = g.GenreId
    GROUP BY g.Name, c.CustomerId
  ) AS subquery
  WHERE subquery.Genre = g.Name
)
ORDER BY g.Name ASC
SQLResult: [('Alternative', 'Frank Ralston', 79.3), ('Alternative & Punk', 'Daan Peeters', 119.78999999999995), ('Blues', 'Leonie Köhler', 47.519999999999996), ('Bossa Nova', 'Dan Miller', 27.72), ('Classical', 'Bjørn Hansen', 79.3), ('Comedy', 'Frank Ralston', 47.7), ('Drama', 'Richard Cunningham', 143.16), ('Easy Listening', 'Jack Smith', 41.58), ('Easy Listening', 'Luis Rojas', 41.58), ('Electronica/Dance', 'Isabelle Mercier', 33.72), ('Heavy Metal', 'Frank Harris', 41.58), ('Heavy Metal', 'Hannah Schneider', 41.58), ('Heavy Metal', 'Mark Taylor', 41.58), ('Hip Hop/Rap', 'Isabelle Mercier', 33.72), ('Jazz', 'Dominique Lefebvre', 83.16), ('Latin', 'Emma Jones', 175.23000000000002), ('Metal', 'Wyatt Girard', 149.48999999999998), ('Pop', 'João Fernandes', 43.64), ('R&B/Soul', 'Ladislav Kovács', 44.55), ('Reggae', 'Kathy Chase', 55.44), ('Rock', 'Eduardo Martins', 244.5300000000001), ('Rock And Roll', 'François Tremblay', 27.72), ('Rock And Roll', 'Heather Leacock', 27.72), ('Sci Fi & Fantasy', 'Julia Barnett', 47.76), ('Science Fiction', 'Luis Rojas', 35.82), ('Soundtrack', 'Marc Dubois', 54.44999999999999), ('TV Shows', 'Helena Holý', 155.16000000000003), ('World', 'Roberto Almeida', 27.72), ('World', 'Jennifer Peterson', 27.72), ('World', 'Martha Silk', 27.72), ('World', 'João Fernandes', 27.72)]
Answer:The customer who has spent the most in each genre and their total spending for each genre are displayed in the SQLResult. For example, the customer who has spent the most in the Rock genre is Eduardo Martins with a total spending of 244.53.
> Finished chain.
Response:  The customer who has spent the most in each genre and their total spending for each genre are displayed in the SQLResult. For example, the customer who has spent the most in the Rock genre is Eduardo Martins with a total spending of 244.53.

In [ ]:
print("Response: ", openai_functions_chain(query))

Executing function:  {
  "name": "ask_database",
  "arguments": "{\n  \"query\": \"SELECT g.Name AS Genre, c.FirstName || ' ' || c.LastName AS Customer, SUM(i.Total) AS TotalSpending FROM genres g JOIN tracks t ON g.GenreId = t.GenreId JOIN invoice_items ii ON t.TrackId = ii.TrackId JOIN invoices i ON ii.InvoiceId = i.InvoiceId JOIN customers c ON i.CustomerId = c.CustomerId GROUP BY g.Name, c.CustomerId HAVING SUM(i.Total) = (SELECT MAX(TotalSpending) FROM (SELECT g.Name AS Genre, c.FirstName || ' ' || c.LastName AS Customer, SUM(i.Total) AS TotalSpending FROM genres g JOIN tracks t ON g.GenreId = t.GenreId JOIN invoice_items ii ON t.TrackId = ii.TrackId JOIN invoices i ON ii.InvoiceId = i.InvoiceId JOIN customers c ON i.CustomerId = c.CustomerId GROUP BY g.Name, c.CustomerId) AS temp WHERE temp.Genre = g.Name)\"\n}"
}
Response:  The customer who has spent the most in each genre and their total spending for each genre are as follows:

- Genre: Alternative, Customer: Frank Ralston, Total Spending: $79.30
- Genre: Alternative & Punk, Customer: Daan Peeters, Total Spending: $119.79
- Genre: Blues, Customer: Leonie Köhler, Total Spending: $47.52
- Genre: Bossa Nova, Customer: Dan Miller, Total Spending: $27.72
- Genre: Classical, Customer: Bjørn Hansen, Total Spending: $79.30
- Genre: Comedy, Customer: Frank Ralston, Total Spending: $47.70
- Genre: Drama, Customer: Richard Cunningham, Total Spending: $143.16
- Genre: Easy Listening, Customer: Jack Smith, Total Spending: $41.58
- Genre: Easy Listening, Customer: Luis Rojas, Total Spending: $41.58
- Genre: Electronica/Dance, Customer: Isabelle Mercier, Total Spending: $33.72
- Genre: Heavy Metal, Customer: Frank Harris, Total Spending: $41.58
- Genre: Heavy Metal, Customer: Hannah Schneider, Total Spending: $41.58
- Genre: Heavy Metal, Customer: Mark Taylor, Total Spending: $41.58
- Genre: Hip Hop/Rap, Customer: Isabelle Mercier, Total Spending: $33.72
- Genre: Jazz, Customer: Dominique Lefebvre, Total Spending: $83.16
- Genre: Latin, Customer: Emma Jones, Total Spending: $175.23
- Genre: Metal, Customer: Wyatt Girard, Total Spending: $149.49
- Genre: Pop, Customer: João Fernandes, Total Spending: $43.64
- Genre: R&B/Soul, Customer: Ladislav Kovács, Total Spending: $44.55
- Genre: Reggae, Customer: Kathy Chase, Total Spending: $55.44
- Genre: Rock, Customer: Eduardo Martins, Total Spending: $244.53
- Genre: Rock And Roll, Customer: François Tremblay, Total Spending: $27.72
- Genre: Rock And Roll, Customer: Heather Leacock, Total Spending: $27.72
- Genre: Sci Fi & Fantasy, Customer: Julia Barnett, Total Spending: $47.76
- Genre: Science Fiction, Customer: Luis Rojas, Total Spending: $35.82
- Genre: Soundtrack, Customer: Marc Dubois, Total Spending: $54.45
- Genre: TV Shows, Customer: Helena Holý, Total Spending: $155.16
- Genre: World, Customer: Roberto Almeida, Total Spending: $27.72
- Genre: World, Customer: Jennifer Peterson, Total Spending: $27.72
- Genre: World, Customer: Martha Silk, Total Spending: $27.72
- Genre: World, Customer: João Fernandes, Total Spending: $27.72

### **Query:** Identify the artist with the highest revenue, excluding compilations, and display their top-selling track. (Hard)
Langhcain implemetation fails, funcion calling wins.

In [ ]:
query = "Identify the artist with the highest revenue, excluding compilations, and display their top-selling track."

In [ ]:
print("Response: ", db_chain.run(query))

> Entering new  chain...
Identify the artist with the highest revenue, excluding compilations, and display their top-selling track.
SQLQuery:SELECT artists.Name, tracks.Name, SUM(invoice_items.Quantity * invoice_items.UnitPrice) AS revenue
FROM tracks
JOIN albums ON tracks.AlbumId = albums.AlbumId
JOIN artists ON albums.ArtistId = artists.ArtistId
JOIN invoice_items ON tracks.TrackId = invoice_items.TrackId
JOIN invoices ON invoice_items.InvoiceId = invoices.InvoiceId
WHERE genres.Name != "Compilation"
GROUP BY artists.ArtistId
ORDER BY revenue DESC
LIMIT 1;

OperationalError: ignored

In [ ]:
print("Response: ", openai_functions_chain(query))

Executing function:  {
  "name": "ask_database",
  "arguments": "{\n  \"query\": \"WITH customer_spending AS (SELECT c.CustomerId, g.Name AS Genre, SUM(i.Total) AS TotalSpending FROM customers c JOIN invoices i ON c.CustomerId = i.CustomerId JOIN invoice_items ii ON i.InvoiceId = ii.InvoiceId JOIN tracks t ON ii.TrackId = t.TrackId JOIN genres g ON t.GenreId = g.GenreId GROUP BY c.CustomerId, g.Name) SELECT cs.CustomerId, c.FirstName || ' ' || c.LastName AS CustomerName, cs.Genre, cs.TotalSpending FROM customer_spending cs JOIN customers c ON cs.CustomerId = c.CustomerId WHERE cs.TotalSpending = (SELECT MAX(TotalSpending) FROM customer_spending WHERE Genre = cs.Genre) ORDER BY cs.Genre\"\n}"
}
Response:  The query results in the following output:

| CustomerId | CustomerName       | Genre              | TotalSpending |
|------------|--------------------|--------------------|---------------|
| 24         | Frank Ralston      | Alternative        | 79.3          |
| 8          | Daan Peeters       | Alternative & Punk | 119.79        |
| 2          | Leonie Köhler      | Blues              | 47.52         |
| 20         | Dan Miller         | Bossa Nova         | 27.72         |
| 4          | Bjørn Hansen       | Classical          | 79.3          |
| 24         | Frank Ralston      | Comedy             | 47.7          |
| 26         | Richard Cunningham | Drama              | 143.16        |
| 17         | Jack Smith         | Easy Listening     | 41.58         |
| 57         | Luis Rojas         | Easy Listening     | 41.58         |
| 43         | Isabelle Mercier   | Electronica/Dance  | 33.72         |
| 16         | Frank Harris       | Heavy Metal        | 41.58         |
| 36         | Hannah Schneider   | Heavy Metal        | 41.58         |
| 55         | Mark Taylor        | Heavy Metal        | 41.58         |
| 43         | Isabelle Mercier   | Hip Hop/Rap        | 33.72         |
| 40         | Dominique Lefebvre | Jazz               | 83.16         |
| 52         | Emma Jones         | Latin              | 175.23        |
| 42         | Wyatt Girard       | Metal              | 149.49        |
| 34         | João Fernandes     | Pop                | 43.64         |
| 45         | Ladislav Kovács    | R&B/Soul           | 44.55         |
| 21         | Kathy Chase        | Reggae             | 55.44         |
| 10         | Eduardo Martins    | Rock               | 244.53        |
| 3          | François Tremblay  | Rock And Roll      | 27.72         |
| 22         | Heather Leacock    | Rock And Roll      | 27.72         |
| 28         | Julia Barnett      | Sci Fi & Fantasy   | 47.76         |
| 57         | Luis Rojas         | Science Fiction    | 35.82         |
| 41         | Marc Dubois        | Soundtrack         | 54.45         |
| 6          | Helena Holý        | TV Shows           | 155.16        |
| 12         | Roberto Almeida    | World              | 27.72         |
| 15         | Jennifer Peterson  | World              | 27.72         |
| 31         | Martha Silk        | World              | 27.72         |
| 34         | João Fernandes     | World              | 27.72         |

The query retrieves the customer who has spent the most in each genre. The results are ordered by genre.

# Test yourself

In [ ]:
query = "Identify the most popular genre among customers based on the number of tracks sold in that genre." #@param {type:"string"}

In [ ]:
print("Response: ", db_chain.run(query))

In [ ]:
print("Response: ", openai_functions_chain(query))